APP_ENV=development

POSTGRES_USER=app_user
POSTGRES_PASSWORD=app_password
POSTGRES_DB=app_db
POSTGRES_PORT=5432

DATABASE_URL=postgresql://app_user:app_password@postgres:5432/app_db

API_PORT=4000
NEXT_PUBLIC_API_URL=http://localhost:4000
MODEL_SERVER_URL=http://model-server:8000